// Make menu sticky to the top
#site-header {
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: white; // или цвет твоей шапки
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;

  &.hidden {
    transform: translateY(-100%);
  }
}