{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-contact{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="intro intro-small">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{ .Title }}</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
      {{ .Content }}

      <!-- Получаем текущий язык -->
      {{ $lang := .Site.Language.Lang }}
      {{ $contact := index $.Site.Data (printf "contact.%s" $lang) }}

      <!-- Выводим контакты -->
      <ul>
        {{ if $contact.phone }}
          {{ if eq $lang "en" }}
          <li><strong>Phone: </strong>{{ $contact.phone }}</li>
          {{ else if eq $lang "ru" }}
          <li><strong>Тел: </strong>{{ $contact.phone }}</li>
          {{ else }}
          <li><strong>Phone: </strong>{{ $contact.phone }}</li>
          {{ end }}
        {{ end }}
        {{ if $contact.email }}
        <li><strong>Email: </strong><a href="mailto:{{ $contact.email }}">{{ $contact.email }}</a></li>
        {{ end }}
        {{ if $contact.address }}
          {{ if eq $lang "en" }}
          <li style="white-space: pre-wrap;"><strong>Address: </strong><br>{{ $contact.address }}</li>
          {{ else if eq $lang "ru" }}
          <li style="white-space: pre-wrap;"><strong>Адрес: </strong><br>{{ $contact.address }}</li>
          {{ else }}
          <li style="white-space: pre-wrap;"><strong>Address: </strong><br>{{ $contact.address }}</li>
          {{ end }}
        {{ end }}
      </ul>

      <ul>
        <li style="margin-top: 1em;">{{ $contact.shortName }}</li>
        {{ if eq $lang "en" }}
        <li><strong>Primary State Registration Number (OGRN)</strong>: {{ $contact.ogrn }}</li>
        <li><strong>Taxpayer Identification Number (INN) :</strong> {{ $contact.inn }}</li>
        <li><strong>Tax Registration Reason Code (KPP):</strong> {{ $contact.kpp }}</li>
        {{ else if eq $lang "ru" }}
        <li><strong>ОГРН:</strong> {{ $contact.ogrn }}</li>
        <li><strong>ИНН:</strong> {{ $contact.inn }}</li>
        <li><strong>КПП:</strong> {{ $contact.kpp }}</li>
        {{ else }}
        <li><strong>Primary State Registration Number (OGRN):</strong> {{ $contact.ogrn }}</li>
        <li><strong>Taxpayer Identification Number (INN) :</strong> {{ $contact.inn }}</li>
        <li><strong>Tax Registration Reason Code (KPP):</strong> {{ $contact.kpp }}</li>
        {{ end }}
      </ul>
    </div>
  </div>
</div>
{{ end }}
